<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Portfólio</title>
</head>

<body>

    <div class="container">

        <div class="hamburguer">
            <div class="line" id="line1"></div>
            <div class="line" id="line2"></div>
            <div class="line" id="line3"></div>
            <span>Fechar</span>
        </div>

        <header>
            <div class="img-wrapper">
                <img src="/img/bg.jpg" alt="">
            </div>

            <div class="banner">
                <h1>Web Developer & Front End Designer</h1>
                <p>Davi Araujo Cândido</p>
                <button>Saiba mais</button>
            </div>
        </header>

        <aside class="sidebar">
            <nav>
                <ul class="menu">
                    <li class="menu-item"><a href="#" class="menu-link">Home</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Conhecimentos</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Projetos</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Contato</a></li>
                    <li class="menu-item"><a href="#" class="menu-link">Orçamento</a></li>
                </ul>
            </nav>
            <div class="social-media">
                <a href="https://github.com/acdavi"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/davi-c%C3%A2ndido-195b0715b/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </aside>

        <section class="sessao-conhecimentos">

            <div class="sessao-header">
                <h1>Conhecimentos</h1>
            </div>

            <div class="conhecimentos">
                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-css3-alt"></i>
                        <h3>CSS</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>O Cascading Style Sheets (CSS) é uma "folha de estilo" composta por “camadas” e utilizada para definir a apresentação (aparência) em páginas da internet que adotam para o seu desenvolvimento linguagens de marcação (como XML, HTML e XHTML).</p>
                    </div>
                </div>

                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fas fa-pen"></i>
                        <h3>Design</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>O design cria identidades que comunicam as qualidades e características das empresas e dos seus produtos ao mercado.</p>
                    </div>
                </div>

                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-js"></i>
                        <h3>Javascript</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Juntamente com HTML e CSS, o JavaScript é uma das três principais tecnologias da World Wide Web. JavaScript permite páginas da Web interativas e, portanto, é uma parte essencial dos aplicativos da web.</p>
                    </div>
                </div>

                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-bootstrap"></i>
                        <h3>Bootstrap</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Uma coleção de vários elementos e funções personalizáveis para projetos da web, empacotados previamente em uma única ferramenta.</p>
                    </div>
                </div>

                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-github"></i>
                        <h3>Git e Github</h3>
                    </div>
                    <div class="conhecimento-text">
                        <p>Sistema de controle de versões distribuído, usado no desenvolvimento de software, mas pode ser usado para registrar o histórico de edições de qualquer tipo de arquivo. </p>
                    </div>
                </div>

                <div class="conhecimento">
                    <div class="conhecimento-header">
                        <i class="fab fa-html5"></i>
                        <h3>HTML</h3>
                    </div>

                    <div class="conhecimento-text">
                        <p>HTML abreviação para a expressão inglesa HyperText Markup Language, que significa: "Linguagem de Marcação de Hipertexto" é uma linguagem de marcação utilizada na construção de páginas na Web.</p>
                    </div>
                </div>

                <div class="conhecimento-img-wrapper">
                    <img src="/img/conhecimentos.png" alt="">
                </div>

            </div>
        </section>

    </div>
</body>

<script src="/js/script.js"></script>

</html>